*{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    outline:none
}
body, html{
    background: #202020;
    height: 100%
}

header{
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:1px solid white;
	border-radius:20px;
	color: white;
	font-size: 20px;
}
.titles{
	width: 250px;
	display: block;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	border:1px solid white;
}
header a{
	margin-left: 5px;
	color: white;
}

.container{
    width: 250px;
	height: 250px;
	grid-template-columns: auto auto auto;
	display: grid;
}
.player-title
{
    margin:auto;
    font-size:35px;
    font-weight:bold;
    color:white;
	width: 250px;
    text-align:center;
}
.showHistory{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	margin-top: 25px;
}
.step-info{
	width: 450px;
	height: 120px;
	font-size: 20px;
	display: grid;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	border:1px solid white;
}
.main-block{
	display: flex;
	align-items: center;
	justify-content: center;
}
.game{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60%;
}
#history{
	display: none;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	height: 60%;
}
#history table{
	margin-left: 20px;
}
.historyElement{
	border:1px solid white;
	border-radius:20px;
}
.buttons{
    display:block;
    margin:0 auto;
    border:1px solid #000;
    border-radius:20px;
    background-color:#fff;
    padding:10px 20px;
    cursor:pointer;
    -webkit-transition:all linear 0.3s;
    -o-transition:all linear 0.3s;
    transition:all linear 0.3s
}
#message{
	color: white;
	text-align: center;
}
#reset-game{

}
#reset-game:hover{
    background-color:#ccc
}
table {
	width: 250px;
	height: 250px;
	border-collapse: collapse;
}
td {
	width: 30px;
	height: 30px;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	color: white;
}
td.x{
	background-color:#abfdab;
	color: black;
	background-size: 5px;
}
td.o{
	background-color:#f99;
	color: black;
}
td {
	border: 3px solid white;
}
tr{
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-flow: row nowrap;
}
td:hover{
	background-color:#ccc;
	cursor: pointer;
}
td:first-of-type {
	border-left-color: transparent;
	border-top-color: transparent;
}
td:nth-of-type(2) {
	border-top-color: transparent;
}
td:nth-of-type(3) {
	border-right-color: transparent;
	border-top-color: transparent;
}
tr:nth-of-type(3) td {
	border-bottom-color: transparent;
}
