* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

body, html {
	background: #202020;
	height: 100%
}

header {
	height: 75px;
	display: flex;
	border: 1px solid white;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
}

header div {
	display: flex;
	width: 33.3%;
	align-items: center;
	justify-content: center
}

.titles {
	width: 250px;
	display: block;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	border: 1px solid white;
}

header a {
	margin-left: 5px;
	color: white;
}

#board {
	-webkit-user-select: none;
	/* Chrome all / Safari all */
	-moz-user-select: none;
	/* Firefox all */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
}

.player-title {
	margin: auto;
	font-size: 35px;
	font-weight: bold;
	color: white;
	width: 250px;
	text-align: center;
}

.show-history {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10px;
	margin-top: 25px;
}

.step-info {
	width: 450px;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	border: 1px solid white;
	border-radius: 20px;
}

.main-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 42%;
}

#history {
	display: none;
	align-items: center;
	justify-content: center;
	border-top: 2px solid white;
	flex-wrap: wrap;
	margin-top: 20px;
	height: 60%;
}

#history table {
	margin-left: 20px;
	margin-top: 20px;
	border: 1px solid white;
	border-radius: 20px;
}

.historyElement {
	border: 1px solid white;
	border-radius: 20px;
}

.buttons {
	display: block;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 20px;
	background-color: #fff;
	padding: 10px 20px;
	cursor: pointer;
	-webkit-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
	transition: all linear 0.3s
}

.buttons:hover {
	background-color: #ccc;
}

#message {
	color: white;
	text-align: center;
}

table {
	width: 250px;
	height: 250px;
	border-collapse: collapse;
}

td {
	width: 30px;
	height: 30px;
	font-size: 22px;
	text-align: center;
	vertical-align: middle;
	color: white;
}

td.x {
	background-color: #abfdab;
	color: black;
	background-size: 5px;
}

td.o {
	background-color: #f99;
	color: black;
}

td {
	border: 3px solid white;
}

tr {
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-flow: row nowrap;
}

td:hover {
	background-color: #ccc;
	cursor: pointer;
}

td:first-of-type {
	border-left-color: transparent;
	border-top-color: transparent;
}

td:nth-of-type(2) {
	border-top-color: transparent;
}

td:nth-of-type(3) {
	border-right-color: transparent;
	border-top-color: transparent;
}

tr:nth-of-type(3) td {
	border-bottom-color: transparent;
}

#help-button {
	border-bottom: 1px white inset;
	cursor: pointer;
}

#help-block {
	position: absolute;
	width: 300px;
	height: 200px;
	background-color: #222;
	top: 100px;
	right: 1%;
	border: 1px double white;
	border-radius: 20px;
}

#help-block p {
	color: white;
	font-size: 20px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: block;
	padding: 0% 5%;
}

#player-move {
	width: 100%;
	display: inline-block;
	align-items: center;
	justify-content: center;
}

#who-first {
	color: white;
	font-size: 29px;
}

#players {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
}

#player-move div {
	text-align: center;
}

#player-move i {
	margin: 0 auto;
	cursor: pointer;
	margin-bottom: 20px;
}

.player-description {
	display: inline-block;
	color: white;
}

.player-description div {
	font-size: 20px;
}

.fa:hover {
	color: #ccc;
}

#help-button:hover {
	color: #ccc;
}