<!DOCTYPE html>
<html lang="Ru">
  <head>
		<meta charset="UTF-8">
		<title>Tic tac toe</title>
		<link rel="stylesheet" href="../src/css/index.css">
		
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  </head>
	<body>
		
		<header>
				<div></div>
				<div>
					Игра "Крестики-нолики" 
				</div>
				<div>
						<a class="helpButton"> ПОМОЩЬ </a>
				</div>
				
		</header>

		<div id="help-block">
				<p>
					1. Для обнуления счета перезагрузите страницу.
				</p>
				<p>
					2. Чтобы очистить игровое поля нажмите на кнопку "Очистить игровое поле".
				</p>
				<p>
					3. Для просмотра историй партий нажмите на кнопку "Показать историю партий".
				</p>
		</div>

		<div class="main-block">
			<div class="step-info">
				<span class="player-title">Счет</span>
				<span class="player-title">Компьютер:<span id="computer-count">0</span></span>
				<span class="player-title">Вы:<span id="player-count">0</span></span>
			</div>
		</div>

		<div class="game">
			<table id="board">
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>

				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
		
		<div class="showHistory">
			<button id="reset-game" class="buttons" onclick="clearBoard()">Очистить игровое поле</button>
			<button class="buttons" id="buttonShowHistory" onclick="showHistory(this)">Показать историю партий</button>
		</div>

		<div id="history">
		</div>
		
		<script src="../src/js/View/View.js"></script>
		<script src="../src/js/Players/SimpleGameObject.js"></script>
		<script src="../src/js/Players/Computer.js"></script>
		<script src="../src/js/Logic/GameLogic.js"></script>
		<script src="../src/js/index.js"></script>
	
	</body>
</html>